body{

}
.header{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    width: 100%;
    margin: 50px auto;
    margin-left: 100px;
}
.firstElement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    height: 100px;
    font-size: 20px;
    background-color: bisque;
}
.secondElement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    height: 100px;
    font-size: 20px;
    background-color: blueviolet;
}
.thirdElement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    height: 100px;
    font-size: 20px;
    background-color: cadetblue;
}
.fourthElement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    height: 100px;
    font-size: 20px;
    background-color: brown;
}

.square{
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    background-color: brown;
}